NEXT_PUBLIC_PARTYKIT_HOST=127.0.0.1:1999
NEXT_PUBLIC_PARTYKIT_PARTY=main
NEXT_PUBLIC_PARTYKIT_ROOM=global-room

JIRA_BASE_URL=https://seu-dominio.atlassian.net
JIRA_EMAIL=voce@empresa.com
JIRA_API_TOKEN=
